.operaciones {
	font-size: 3rem;
}
.operaciones .card-body{
	text-align: center;
}
.operaciones .sumandos{
	text-align: right;
}
.operaciones .botones{
	
}
.operaciones .botones button{
	font-size:  1.5rem;
}
.result-success{

}
div[name="result"]{
	caret-color: transparent;
}